h1, h2, h3, h4, h5, h6 {
	color: saddlebrown;
	font-family: sans-serif;
}

table, th, td {
	border-collapse: collapse;
	border: solid orangered 3px;
	padding: 5px;
	text-align: center;
}
thead {
	color: darkblue;
	background-color: lightgray;
}

li {
	list-style-type: square;
}
#teamRoster img {
	display: none;
}

#teamRoster > li:first-child {
	background-color: rgba(255, 255, 255, .6); 
	background-blend-mode: color;
	background-image: url(https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg);
	background-repeat: no-repeat;
	background-size: contain;
	list-style: none;
}
 #teamRoster > li:last-child{
 	background-color: rgba(255, 255, 255, .6); 
	background-blend-mode: color;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg);
	background-repeat: no-repeat;
	background-size: contain;
	list-style: none;
}
.hyperLink:hover {
	text-decoration: none;
	background-color: slateblue;
	color: white;
	padding: 2px;
}
blockquote {
	background-color: #400000;
	color: aliceblue;
}
#checkbox-grid li {
	list-style-type: none;
}
#teamRoster li ul li li:first-child{
	font-weight: bold;
}
tr:nth-child(odd){
background-color: orange;
}